$label-color: #000;

$text-color: #626262;
$grey-color: #ababab;
$primary-color: #f15a22;
$sub-color: #ff214f;
$light-grey-color: #767676;

$roboto-font: "Roboto", sans-serif;

$black-gradient: rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8);
